@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Muli:600,700,800);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

Raleway

body {
  font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1, h2 {
  font-family: 'Muli';
  font-weight: 600;
}

h3 {
  font-family: 'Muli';
  font-weight: 100;
}

.inverse h1 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 2.5em;
}

.remark-code, .remark-inline-code {
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace;
}

.fancy{
  font-family: 'Cormorant Upright', serif;
  font-weight: 400;
}

/* for mermaid */

.DiagrammeR g .label {
  font-family: 'Lato';
  font-size: 14px;
  color: rgb(51, 51, 51);
}
